.main {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  min-height: 100vh;
}

@media (min-width: 600px) {
  .main {
    padding: 2rem;
  }
}

@media (min-width: 900px) {
  .main {
    padding: 6rem;
  }
}
